/* html{}랑 같다고 이해하면 됨. CSS 전역 변수 선언 */
/* GLOBAL  ROOT 는 CSS의 변수 의 활용*/
:root {
  /* APP COLOR  */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-text: var(--color-white);
  --color-primiary-variant: var(--color-gray);
  --color-accent-variant: var(--color-orange);

  /* Colors */

  --color-white: #ffffff;

  --color-black: #050a13;

  --color-blue: #03e8f9;

  --color-orange: #fd6413;

  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  /* ul,li 앞에 글머리 기호 . . 사라지는 프로퍼티 */
  list-style: none;
  /* 기본적으로 ul안에 li 가 있는데 패딩값이 기본 디폴트라 패딩 0으로 잡아주면 사라진다 */
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  /* 버튼 디폴트 효과 0으로 만들기 */
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  /* 한번클릭하면 블루로 포커싱댐 */
  outline: 1px solid var(--color-accent);
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}
